@import url(reset.css);
@import url(/fonts/inter/inter-fonts.css);
@import url(/fonts/ruberoid/rub-fonts.css);
@import url(anim.css);

@mixin page{
    font-family: 'rub-bold';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    color: #222222;
    opacity: 0.5;
    @media (max-width: 768px) {
        font-size: 15px;
        line-height: 90%;
    }
}
@mixin page0{
    font-family: 'rub-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #222222;
    max-width: 153px;
    @media (max-width: 1024px) {
        font-size: 15px;
        line-height: 100%;
    }

}
@mixin wrap-grid{
    width: 275px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #e9e9e900;
    border: 2px solid #000000;
    transition: .5s;
    cursor: pointer;
    @media (max-width: 1024px) {
        width: 220px;
        height: 220px;
    }
    p{
        @include page0
    }
    &:hover{
        background: #e9e9e9;
        border: 2px solid #00000000;
    }
}

@mixin button{
    background-color:#fafafa00;
    font-family: 'inter-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 105%;
    color: #e9e9e9;
    width: 865px;
    height: 50px;
    border: 2px solid #FAFAFA;
    border-radius: 5000px;
    margin: 30px 0 70px 0;
    transition: .5s;
    &:hover{
        background-color: #000000;
        color: #ffffff;
        border: 2px solid #000000;
    }
    @media (max-width: 1100px) {
        font-size: 15px;
        line-height: 95%;
        width: 750px;
        height: 45px;
    }
    @media (max-width: 768px) {
        width: 400px;
        height: 35px;
        line-height: 80%;
    }
    @media (max-width: 425px) {
        width: 300px;
    }
}
@mixin wraph4{
    font-family: 'inter-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    color: #222222;
    @media (max-width: 768px) {
        font-size: 49px;
    }
    @media (max-width: 560px) {
        font-size: 40px;
    }
    @media (max-width: 425px) {
        font-size: 32px;
    }
}
h5{
    font-family: 'rub-medium';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 115%;
    letter-spacing: -0.03em;
    color: #222222;
    text-align: center;
    @media (max-width: 1024px) {
        font-size: 55px;
        line-height: 100%;
    }
}

body{
    background-color: #00000000;
}

header{
    background-image: url(/image/header-fon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    .static{
        position: fixed;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0 20px 0;
        max-height: 30px;
        background-color: rgba(8, 8, 8, 0.15);
        backdrop-filter: blur(15px);
        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1160px;
            max-height: 30px;
            width: 100%;
            .logo{
                display: flex;
                align-items: center;
                margin: 0px 10px 0 10px;
            }
            nav{
                max-width: 419px;
                width: 100%;
                @media (max-width: 768px) {
                    display: none;
                }
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                    @media (max-width: 768px) {
                        display: none;
                    }
                    a{
                        font-family: 'inter-medium';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FAFAFA;
                        text-decoration: none;
                        outline: none;
                        transition: .7s;
                        &:hover{    
                            color: #151515;
                        }
                        @media (max-width: 768px) {
                            display: none;
                        }
                    }
                    
                }
            }
            button{
                background-color:#fafafa00;
                font-family: 'inter-regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #FAFAFA;
                width: 191px;
                height: 39px;
                border: 2px solid #FAFAFA;
                border-radius: 30px;
                transition: .7s;
                &:hover{    
                    color: rgb(21, 21, 21);
                    background-color:#fafafa;
                }
                @media (max-width: 1100px) {
                    font-size: 15px;
                    width: 170px;
                    height: 35px;
                }
                @media (max-width: 768px) {
                    display: none;
                }
            }
            
        }
    }
    .articly{
        width: 100%;
        height: 100vh;
        .wrapper{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            max-height: 900px;
            height: 100%;
            @media (max-width: 1100px) {
                justify-content: center;
            }
            .content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: flex-end;
                align-items: stretch;
                max-width: 900px;
                padding-left: 30px;
                width: 100%;
                margin: 0 150px 0 0;
                @media (max-width: 1100px) {
                    max-width: 750px;
                    padding: 0 5px;
                    margin: 0;
                }
                @media (max-width: 768px) {
                    max-width: 400px;
                    padding: 0 5px;
                    margin: 0;
                }
                @media (max-width: 425px) {
                    max-width: 300px;
                    padding: 0 5px;
                    margin: 0;
                }
                h1{
                    font-family: 'inter-medium';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 56px;
                    line-height: 115.5%;
                    color: #FAFAFA;
                    letter-spacing: -0.055em;
                    @media (max-width: 1100px) {
                        font-size: 46px;
                    }
                    @media (max-width: 768px) {
                        font-size: 25px;
                    }
                    @media (max-width: 425px) {
                        font-size: 18px;
                    }
                }
                button{
                    @include button;
                }
            }
        }
    }
}

.about_us{
    width: 100%;
    height: 770px;
    margin: 180px 0;
    @media (max-width: 474px) {
        margin: 130px 0;
    }
    .content {
        display: grid;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        column-gap: 20px;
        @media (max-width: 474px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 1fr);
            justify-items : center;
        }
        h4{
            grid-row: 1/4;
            grid-column: 1/2;
            justify-self : start;
            @include page;
            @media (max-width: 474px) {
                grid-row: 1/2;
                grid-column: 1/2;
            }
        }
        h3{
            grid-column: 2/5;
            font-family: 'inter-regular';
            padding: 0 5px 0 0;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 130%;
            letter-spacing: -0.03em;
            color: #222222;
            @media (max-width: 1024px) {
                font-size: 25px;
                line-height: 100%;
            }
            @media (max-width: 768px) {
                font-size: 18px;
            }
            @media (max-width: 474px) {
                grid-row: 2/3;
                grid-column: 1/2;
                font-size: 15px;
            }
        }
        .ability{
            grid-column: 2/3;
            @include wrap-grid;
            @media (max-width: 474px) {
                grid-row: 3/4;
                grid-column: 1/2;
            }
        }
        .coop{
            grid-column: 3/4;
            @include wrap-grid;
            @media (max-width: 474px) {
                grid-row: 4/5;
                grid-column: 1/2;
            }
        }
        .shop{
            grid-column: 2/3;
            grid-row: 3/4;
            @include wrap-grid;
            @media (max-width: 474px) {
                grid-row: 5/6;
                grid-column: 1/2;
            }
        }
    }
}

.partners{
    width: 100%;
    height: auto;
    .content {
        display: grid;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        column-gap: 20px;
        @media (max-width: 980px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 50px repeat(3, 1fr);
            justify-items : center;
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 50px repeat(4, 1fr);
            justify-items : center;
        }
        h4{
            grid-row: 1/4;
            grid-column: 1/2;
            justify-self : start;
            @include page;
            @media (max-width: 980px) {
                grid-row: 1/2;
                grid-column: 1/4;
            }
            @media (max-width: 768px) {
                grid-column: 1/3;
            }
        }
        .wraper_img{
            @include wrap-grid;
            @media (max-width: 580px) {
                width: 150px;
                height: 150px;
            }
            img{
                width: 150px;
            }
        }
        button{
            grid-column: 2/5;
            @include button;
            color: #222222;
            background: #E9E9E9;
            @media (max-width: 980px) {
                grid-column: 1/4;
            }
            @media (max-width: 768px) {
                grid-column: 1/3;
            }
        }
    }
}
.coop{
    width: 100%;
    height: auto;
    .content {
        display: grid;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
        grid-template-rows: 190px repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        column-gap: 20px;
        @media (max-width: 980px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 100px repeat(3, 1fr);
            justify-items : center;
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 100px repeat(4, 1fr);
            justify-items : center;
        }
        @media (max-width: 560px) {
            grid-template-columns: 1fr;
            grid-template-rows: 100px repeat(5, 1fr);
            justify-items : center;
        }
        h4{
            grid-row: 1/4;
            grid-column: 1/2;
            justify-self : start;
            @include page;
            @media (max-width: 980px) {
                grid-row: 1/2;
                grid-column: 1/4;
            }
            @media (max-width: 768px) {
                grid-column: 1/3;
            }
            @media (max-width: 560px) {
                grid-column: 1/2;
            }
        }
        .wraper{
            @include wrap-grid;
            h6{
                font-family: 'rub-medium';
                font-style: normal;
                font-weight: 400;
                font-size: 150px;
                line-height: 115%;
                display: flex;
                align-items: center;
                letter-spacing: -0.03em;
                color: #222222;

            }
        }
        .article{
            grid-column: 2/5;
            grid-row: 1/2;
            display: flex;
            justify-content: space-between;
            max-height: 170px;
            @media (max-width: 980px) {
                grid-row: 2/3;
                grid-column: 1/4;
            }
            @media (max-width: 768px) {
                flex-direction: column;
                grid-column: 1/3;
                max-height: 500px;
            }
            @media (max-width: 560px) {
                grid-column: 1/2;
            }
            p{
                max-width: 275px;
                max-height: 126px;
                padding: 7px 0 7px 0;
                font-family: 'inter-regular';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                display: flex;
                align-items: center;
                letter-spacing: -0.03em;
                color: #222222;
                opacity: 0.5;
                @media (max-width: 560px) {
                    max-width: max-content;
                    max-height: max-content;
                }
            }    
            h3{
                @include wraph4;
            }
        }
        button{
            grid-column: 2/5;
            @include button;
            color: #222222;
            background: #E9E9E9;
            @media (max-width: 980px) {
                grid-column: 1/4;
            }
            @media (max-width: 768px) {
                grid-column: 1/3;
            }
            @media (max-width: 560px) {
                grid-column: 1/2;
            }
        }

    }
}
.indication{
    width: 100%;
    height: auto;
    .content {
        display: grid;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
        grid-template-rows: 190px repeat(2, 1fr);
        grid-template-columns: 1fr 4fr;
        row-gap: 20px;
        column-gap: 20px;
        @media (max-width: 1024px) {
            justify-items: center;
        }
        @media (max-width: 768px) {
            grid-template-rows: 40px 150px repeat(2, 1fr);
            grid-template-columns: 1fr;
            justify-items: center;
        }
        h4{
            grid-row: 1/4;
            grid-column: 1/2;
            justify-self : start;
            @include page;
            @media (max-width: 1024px) {
                grid-row: 1/2;
                grid-column: 1/2;
            }

        }
        .article{
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            max-height: 170px;
            @media (max-width: 768px) {
                grid-row: 2/3;
                grid-column: 1/2;
            }
            @media (max-width: 768px) {
                flex-direction: column;
            }
            p{
                max-width: 275px;
                max-height: 126px;
                padding: 7px 0 7px 0;
                font-family: 'inter-regular';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                display: flex;
                align-items: center;
                letter-spacing: -0.03em;
                color: #222222;
                opacity: 0.5;
                @media (max-width: 560px) {
                    max-width: max-content;
                    max-height: max-content;
                }
                @media (max-width: 768px) {
                    max-width: 560px;
                }
            }    
            h3{
                @include wraph4;
            }
        }
        .section{
            max-width: 865px;
            width: 100%;
            @media (max-width: 1024px) {
                grid-column: 1/3;
            }
            @media (max-width: 768px) {
                grid-column: 1/2;
            }
            .nav{
                width: 100%;
                ul{
                    display: flex;
                    justify-content: center;
                    padding-top: 20px;
                    li{
                        font-family: 'inter-regular';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 100%;
                        letter-spacing: -0.05em;
                        color: #222222;
                        width: 100%;
                        border-bottom: 2px solid #222222;
                        opacity: 0.3;
                        transition: .7s;
                        cursor: pointer;
                        &:hover{
                            opacity: 1;
                        }
                        @media (max-width: 768px) {
                            display: none;
                        }
                    }
                    @media (max-width: 768px) {
                        width: 200px;
                        height: 60px;
                    }
                    @media (max-width: 1024px) {
                        max-width: 730px;
                        margin: 0 auto;
                    }
                }
                p{
                    font-family: 'inter-regular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 100%;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.05em;
                    color: #222222;
                    padding: 35px 0 35px 0;

                }
            }
            .wrap{
                display: grid;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
                row-gap: 20px;
                column-gap: 20px;
                @media (max-width: 425px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3, 275px);
                }
                .wraper{
                    @include wrap-grid;
                    @media (max-width: 768px) {
                        width: 150px;
                        height: 150px;
                    }
                    @media (max-width: 570px) {
                        width: 130px;
                        height: 130px;
                    }
                    @media (max-width: 425px) {
                        width: 275px;
                        height: 275px;
                    }
                    h5{
                        @media (max-width: 768px) {
                            font-size: 40px;
                            line-height: 100%;
                        }
                        @media (max-width: 570px) {
                            font-size: 35px;
                            line-height: 100%;
                        }
                        @media (max-width: 425px) {
                            font-size: 45px;
                        }
                    }
                }
            }
        }
    }
}
.form-coop{
    width: 100%;
    height: auto;
    margin: 100px 0 50px 0;
    padding: 50px 0 50px 0;
    background-image: url(/image/contact-fon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    .content {
        display: grid;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr 4fr;
        row-gap: 20px;
        column-gap: 20px;
        @media (max-width: 768px) {
            grid-template-columns: 570px;
            grid-template-rows: 50px 1fr;
            justify-content: center;
            max-width: 420px;
        }
        @media (max-width: 615px) {
            justify-items: center;
        }
        @media (max-width: 480px) {
            max-width: 280px;
        }
        h4{
            @include page;
            color: #FAFAFA;
            opacity: 1;
            @media (max-width: 768px) {
                max-width: 420px;
            }
        }
        .wraper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 570px;
            height: 565px;
            @media (max-width: 615px) {
                max-width: 425px;
                max-height: 500px;
            }
            @media (max-width: 480px) {
                max-width: 300px;
                max-height: 425px;
            }

            h3{
                @include wraph4;
                color: #fafafa;
            }
            p{
                font-family: 'inter-regular';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 110%;
                letter-spacing: -0.05em;
                color: #FAFAFA;
                @media (max-width: 615px) {
                    font-size: 20px;
                }
            }
            input{
                height: 50px;
                background-color: #fafafa;
                color: #222222;
                border-radius: 20px;
                &:nth-child(6){
                    height:150px;
                    @media (max-width: 480px) {
                        height: 90px;
                    }
                }
                @media (max-width: 480px) {
                    height: 30px;
                }
            }
            
            button{
                background-color: #fafafa;
                color: #222222;
                height: 55px;
                border-radius: 20px;
                @media (max-width: 480px) {
                    height: 40px;
                }
    
            }
            
        }
    }
}
footer{
    width: 100%;
    margin: 0 auto;
    .content{
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 191px;
        padding: 50px 0 50px 0;
        .wraper{
            display: flex;
            max-width: 570px;
            width: 100%;
            justify-content: space-between;
            padding-left: 30px;
            .nav{
                @media (max-width: 480px) {
                    display: none;
                }
            }
            p{
                font-family: 'inter-medium';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #222222;
            }
            a{
                font-family: 'inter-regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
                text-decoration: none;
                outline: none;
                transition: .7s;
                &:hover{    
                    color: #000000;
                }
            }
            li{
                padding: 10px 0 10px 0;
            }
        }
    }
}





.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
    @media (min-width: 769px) {
        display: none;
    }
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 768px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 20px;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0);
      backdrop-filter: blur(15px);
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      a{
        font-family: 'inter-medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FAFAFA;
        text-decoration: none;
        outline: none;
        transition: .7s;
        &:hover{    
            color: #151515;
        }
    }
    }
  }