@import url(reset.css);
@import url(Kalin-Designer/fonts/inter/inter-fonts.css);
@import url(Kalin-Designer/fonts/ruberoid/rub-fonts.css);
@import url(anim.css);
h5 {
  font-family: "rub-medium";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 115%;
  letter-spacing: -0.03em;
  color: #222222;
  text-align: center;
}
@media (max-width: 1024px) {
  h5 {
    font-size: 55px;
    line-height: 100%;
  }
}

body {
  background-color: rgba(0, 0, 0, 0);
}

header {
  background-image: url(Kalin-Designer/image/header-fon.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
header .static {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px 0 20px 0;
  max-height: 30px;
  background-color: rgba(8, 8, 8, 0.15);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
header .static .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1160px;
  max-height: 30px;
  width: 100%;
}
header .static .content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px 0 10px;
}
header .static .content nav {
  max-width: 419px;
  width: 100%;
}
@media (max-width: 768px) {
  header .static .content nav {
    display: none;
  }
}
header .static .content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  header .static .content nav ul {
    display: none;
  }
}
header .static .content nav ul a {
  font-family: "inter-medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FAFAFA;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
header .static .content nav ul a:hover {
  color: #151515;
}
@media (max-width: 768px) {
  header .static .content nav ul a {
    display: none;
  }
}
header .static .content button {
  background-color: rgba(250, 250, 250, 0);
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FAFAFA;
  width: 191px;
  height: 39px;
  border: 2px solid #FAFAFA;
  border-radius: 30px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
header .static .content button:hover {
  color: rgb(21, 21, 21);
  background-color: #fafafa;
}
@media (max-width: 1100px) {
  header .static .content button {
    font-size: 15px;
    width: 170px;
    height: 35px;
  }
}
@media (max-width: 768px) {
  header .static .content button {
    display: none;
  }
}
header .articly {
  width: 100%;
  height: 100vh;
}
header .articly .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-height: 900px;
  height: 100%;
}
@media (max-width: 1100px) {
  header .articly .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
header .articly .wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 900px;
  padding-left: 30px;
  width: 100%;
  margin: 0 150px 0 0;
}
@media (max-width: 1100px) {
  header .articly .wrapper .content {
    max-width: 750px;
    padding: 0 5px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  header .articly .wrapper .content {
    max-width: 400px;
    padding: 0 5px;
    margin: 0;
  }
}
@media (max-width: 425px) {
  header .articly .wrapper .content {
    max-width: 300px;
    padding: 0 5px;
    margin: 0;
  }
}
header .articly .wrapper .content h1 {
  font-family: "inter-medium";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 115.5%;
  color: #FAFAFA;
  letter-spacing: -0.055em;
}
@media (max-width: 1100px) {
  header .articly .wrapper .content h1 {
    font-size: 46px;
  }
}
@media (max-width: 768px) {
  header .articly .wrapper .content h1 {
    font-size: 25px;
  }
}
@media (max-width: 425px) {
  header .articly .wrapper .content h1 {
    font-size: 18px;
  }
}
header .articly .wrapper .content button {
  background-color: rgba(250, 250, 250, 0);
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 105%;
  color: #e9e9e9;
  width: 865px;
  height: 50px;
  border: 2px solid #FAFAFA;
  border-radius: 5000px;
  margin: 30px 0 70px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .articly .wrapper .content button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}
@media (max-width: 1100px) {
  header .articly .wrapper .content button {
    font-size: 15px;
    line-height: 95%;
    width: 750px;
    height: 45px;
  }
}
@media (max-width: 768px) {
  header .articly .wrapper .content button {
    width: 400px;
    height: 35px;
    line-height: 80%;
  }
}
@media (max-width: 425px) {
  header .articly .wrapper .content button {
    width: 300px;
  }
}

.about_us {
  width: 100%;
  height: 770px;
  margin: 180px 0;
}
@media (max-width: 474px) {
  .about_us {
    margin: 130px 0;
  }
}
.about_us .content {
  display: -ms-grid;
  display: grid;
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.about_us .content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.about_us .content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.about_us .content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.about_us .content > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.about_us .content > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.about_us .content > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.about_us .content > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.about_us .content > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.about_us .content > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.about_us .content > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.about_us .content > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.about_us .content > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
@media (max-width: 474px) {
  .about_us .content {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[5];
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
  }
  .about_us .content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .about_us .content > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .about_us .content > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .about_us .content > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .about_us .content > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
.about_us .content h4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: start;
      justify-self: start;
  font-family: "rub-bold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .about_us .content h4 {
    font-size: 15px;
    line-height: 90%;
  }
}
@media (max-width: 474px) {
  .about_us .content h4 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.about_us .content h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  font-family: "inter-regular";
  padding: 0 5px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: #222222;
}
@media (max-width: 1024px) {
  .about_us .content h3 {
    font-size: 25px;
    line-height: 100%;
  }
}
@media (max-width: 768px) {
  .about_us .content h3 {
    font-size: 18px;
  }
}
@media (max-width: 474px) {
  .about_us .content h3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    font-size: 15px;
  }
}
.about_us .content .ability {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 275px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background: rgba(233, 233, 233, 0);
  border: 2px solid #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .about_us .content .ability {
    width: 220px;
    height: 220px;
  }
}
.about_us .content .ability p {
  font-family: "rub-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #222222;
  max-width: 153px;
}
@media (max-width: 1024px) {
  .about_us .content .ability p {
    font-size: 15px;
    line-height: 100%;
  }
}
.about_us .content .ability:hover {
  background: #e9e9e9;
  border: 2px solid rgba(0, 0, 0, 0);
}
@media (max-width: 474px) {
  .about_us .content .ability {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.about_us .content .coop {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  width: 275px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background: rgba(233, 233, 233, 0);
  border: 2px solid #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .about_us .content .coop {
    width: 220px;
    height: 220px;
  }
}
.about_us .content .coop p {
  font-family: "rub-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #222222;
  max-width: 153px;
}
@media (max-width: 1024px) {
  .about_us .content .coop p {
    font-size: 15px;
    line-height: 100%;
  }
}
.about_us .content .coop:hover {
  background: #e9e9e9;
  border: 2px solid rgba(0, 0, 0, 0);
}
@media (max-width: 474px) {
  .about_us .content .coop {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.about_us .content .shop {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 275px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background: rgba(233, 233, 233, 0);
  border: 2px solid #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .about_us .content .shop {
    width: 220px;
    height: 220px;
  }
}
.about_us .content .shop p {
  font-family: "rub-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #222222;
  max-width: 153px;
}
@media (max-width: 1024px) {
  .about_us .content .shop p {
    font-size: 15px;
    line-height: 100%;
  }
}
.about_us .content .shop:hover {
  background: #e9e9e9;
  border: 2px solid rgba(0, 0, 0, 0);
}
@media (max-width: 474px) {
  .about_us .content .shop {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.partners {
  width: 100%;
  height: auto;
}
.partners .content {
  display: -ms-grid;
  display: grid;
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.partners .content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.partners .content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.partners .content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.partners .content > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.partners .content > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.partners .content > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.partners .content > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.partners .content > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.partners .content > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.partners .content > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.partners .content > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.partners .content > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
@media (max-width: 980px) {
  .partners .content {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 50px (1fr)[3];
    grid-template-rows: 50px repeat(3, 1fr);
    justify-items: center;
  }
  .partners .content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .partners .content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .partners .content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .partners .content > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .partners .content > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .partners .content > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .partners .content > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .partners .content > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .partners .content > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .partners .content > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .partners .content > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .partners .content > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
}
@media (max-width: 768px) {
  .partners .content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 50px (1fr)[4];
    grid-template-rows: 50px repeat(4, 1fr);
    justify-items: center;
  }
  .partners .content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .partners .content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .partners .content > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .partners .content > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .partners .content > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .partners .content > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .partners .content > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .partners .content > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .partners .content > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .partners .content > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
}
.partners .content h4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: start;
      justify-self: start;
  font-family: "rub-bold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .partners .content h4 {
    font-size: 15px;
    line-height: 90%;
  }
}
@media (max-width: 980px) {
  .partners .content h4 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}
@media (max-width: 768px) {
  .partners .content h4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
.partners .content .wraper_img {
  width: 275px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background: rgba(233, 233, 233, 0);
  border: 2px solid #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .partners .content .wraper_img {
    width: 220px;
    height: 220px;
  }
}
.partners .content .wraper_img p {
  font-family: "rub-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #222222;
  max-width: 153px;
}
@media (max-width: 1024px) {
  .partners .content .wraper_img p {
    font-size: 15px;
    line-height: 100%;
  }
}
.partners .content .wraper_img:hover {
  background: #e9e9e9;
  border: 2px solid rgba(0, 0, 0, 0);
}
@media (max-width: 580px) {
  .partners .content .wraper_img {
    width: 150px;
    height: 150px;
  }
}
.partners .content .wraper_img img {
  width: 150px;
}
.partners .content button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  background-color: rgba(250, 250, 250, 0);
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 105%;
  color: #e9e9e9;
  width: 865px;
  height: 50px;
  border: 2px solid #FAFAFA;
  border-radius: 5000px;
  margin: 30px 0 70px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #222222;
  background: #E9E9E9;
}
.partners .content button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}
@media (max-width: 1100px) {
  .partners .content button {
    font-size: 15px;
    line-height: 95%;
    width: 750px;
    height: 45px;
  }
}
@media (max-width: 768px) {
  .partners .content button {
    width: 400px;
    height: 35px;
    line-height: 80%;
  }
}
@media (max-width: 425px) {
  .partners .content button {
    width: 300px;
  }
}
@media (max-width: 980px) {
  .partners .content button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}
@media (max-width: 768px) {
  .partners .content button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.coop {
  width: 100%;
  height: auto;
}
.coop .content {
  display: -ms-grid;
  display: grid;
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
  -ms-grid-rows: 190px 20px 1fr 20px 1fr;
  grid-template-rows: 190px repeat(2, 1fr);
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.coop .content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.coop .content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.coop .content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.coop .content > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.coop .content > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.coop .content > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.coop .content > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.coop .content > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.coop .content > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.coop .content > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.coop .content > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.coop .content > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
@media (max-width: 980px) {
  .coop .content {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 100px (1fr)[3];
    grid-template-rows: 100px repeat(3, 1fr);
    justify-items: center;
  }
  .coop .content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .coop .content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .coop .content > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .coop .content > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .coop .content > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .coop .content > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .coop .content > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .coop .content > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
}
@media (max-width: 768px) {
  .coop .content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 100px (1fr)[4];
    grid-template-rows: 100px repeat(4, 1fr);
    justify-items: center;
  }
  .coop .content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .coop .content > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .coop .content > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .coop .content > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .coop .content > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
}
@media (max-width: 560px) {
  .coop .content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px (1fr)[5];
    grid-template-rows: 100px repeat(5, 1fr);
    justify-items: center;
  }
  .coop .content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .coop .content > *:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
}
.coop .content h4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: start;
      justify-self: start;
  font-family: "rub-bold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .coop .content h4 {
    font-size: 15px;
    line-height: 90%;
  }
}
@media (max-width: 980px) {
  .coop .content h4 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}
@media (max-width: 768px) {
  .coop .content h4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media (max-width: 560px) {
  .coop .content h4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.coop .content .wraper {
  width: 275px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background: rgba(233, 233, 233, 0);
  border: 2px solid #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .coop .content .wraper {
    width: 220px;
    height: 220px;
  }
}
.coop .content .wraper p {
  font-family: "rub-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #222222;
  max-width: 153px;
}
@media (max-width: 1024px) {
  .coop .content .wraper p {
    font-size: 15px;
    line-height: 100%;
  }
}
.coop .content .wraper:hover {
  background: #e9e9e9;
  border: 2px solid rgba(0, 0, 0, 0);
}
.coop .content .wraper h6 {
  font-family: "rub-medium";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  color: #222222;
}
.coop .content .article {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 170px;
}
@media (max-width: 980px) {
  .coop .content .article {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}
@media (max-width: 768px) {
  .coop .content .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    max-height: 500px;
  }
}
@media (max-width: 560px) {
  .coop .content .article {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.coop .content .article p {
  max-width: 275px;
  max-height: 126px;
  padding: 7px 0 7px 0;
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  color: #222222;
  opacity: 0.5;
}
@media (max-width: 560px) {
  .coop .content .article p {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}
.coop .content .article h3 {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.05em;
  color: #222222;
}
@media (max-width: 768px) {
  .coop .content .article h3 {
    font-size: 49px;
  }
}
@media (max-width: 560px) {
  .coop .content .article h3 {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .coop .content .article h3 {
    font-size: 32px;
  }
}
.coop .content button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  background-color: rgba(250, 250, 250, 0);
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 105%;
  color: #e9e9e9;
  width: 865px;
  height: 50px;
  border: 2px solid #FAFAFA;
  border-radius: 5000px;
  margin: 30px 0 70px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #222222;
  background: #E9E9E9;
}
.coop .content button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}
@media (max-width: 1100px) {
  .coop .content button {
    font-size: 15px;
    line-height: 95%;
    width: 750px;
    height: 45px;
  }
}
@media (max-width: 768px) {
  .coop .content button {
    width: 400px;
    height: 35px;
    line-height: 80%;
  }
}
@media (max-width: 425px) {
  .coop .content button {
    width: 300px;
  }
}
@media (max-width: 980px) {
  .coop .content button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}
@media (max-width: 768px) {
  .coop .content button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media (max-width: 560px) {
  .coop .content button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.indication {
  width: 100%;
  height: auto;
}
.indication .content {
  display: -ms-grid;
  display: grid;
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
  -ms-grid-rows: 190px 20px 1fr 20px 1fr;
  grid-template-rows: 190px repeat(2, 1fr);
  -ms-grid-columns: 1fr 20px 4fr;
  grid-template-columns: 1fr 4fr;
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.indication .content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.indication .content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.indication .content > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.indication .content > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.indication .content > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.indication .content > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
@media (max-width: 1024px) {
  .indication .content {
    justify-items: center;
  }
}
@media (max-width: 768px) {
  .indication .content {
    -ms-grid-rows: 40px 150px (1fr)[2];
    grid-template-rows: 40px 150px repeat(2, 1fr);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .indication .content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .indication .content > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .indication .content > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .indication .content > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
.indication .content h4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: start;
      justify-self: start;
  font-family: "rub-bold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .indication .content h4 {
    font-size: 15px;
    line-height: 90%;
  }
}
@media (max-width: 1024px) {
  .indication .content h4 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.indication .content .article {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 170px;
}
@media (max-width: 768px) {
  .indication .content .article {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
@media (max-width: 768px) {
  .indication .content .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.indication .content .article p {
  max-width: 275px;
  max-height: 126px;
  padding: 7px 0 7px 0;
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  color: #222222;
  opacity: 0.5;
}
@media (max-width: 560px) {
  .indication .content .article p {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}
@media (max-width: 768px) {
  .indication .content .article p {
    max-width: 560px;
  }
}
.indication .content .article h3 {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.05em;
  color: #222222;
}
@media (max-width: 768px) {
  .indication .content .article h3 {
    font-size: 49px;
  }
}
@media (max-width: 560px) {
  .indication .content .article h3 {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .indication .content .article h3 {
    font-size: 32px;
  }
}
.indication .content .section {
  max-width: 865px;
  width: 100%;
}
@media (max-width: 1024px) {
  .indication .content .section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media (max-width: 768px) {
  .indication .content .section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.indication .content .section .nav {
  width: 100%;
}
.indication .content .section .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}
.indication .content .section .nav ul li {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #222222;
  width: 100%;
  border-bottom: 2px solid #222222;
  opacity: 0.3;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}
.indication .content .section .nav ul li:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  .indication .content .section .nav ul li {
    display: none;
  }
}
@media (max-width: 768px) {
  .indication .content .section .nav ul {
    width: 200px;
    height: 60px;
  }
}
@media (max-width: 1024px) {
  .indication .content .section .nav ul {
    max-width: 730px;
    margin: 0 auto;
  }
}
.indication .content .section .nav p {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.05em;
  color: #222222;
  padding: 35px 0 35px 0;
}
.indication .content .section .wrap {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 425px) {
  .indication .content .section .wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (275px)[3];
    grid-template-rows: repeat(3, 275px);
  }
  .indication .content .section .wrap > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .indication .content .section .wrap > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .indication .content .section .wrap > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
.indication .content .section .wrap .wraper {
  width: 275px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background: rgba(233, 233, 233, 0);
  border: 2px solid #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .indication .content .section .wrap .wraper {
    width: 220px;
    height: 220px;
  }
}
.indication .content .section .wrap .wraper p {
  font-family: "rub-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #222222;
  max-width: 153px;
}
@media (max-width: 1024px) {
  .indication .content .section .wrap .wraper p {
    font-size: 15px;
    line-height: 100%;
  }
}
.indication .content .section .wrap .wraper:hover {
  background: #e9e9e9;
  border: 2px solid rgba(0, 0, 0, 0);
}
@media (max-width: 768px) {
  .indication .content .section .wrap .wraper {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 570px) {
  .indication .content .section .wrap .wraper {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 425px) {
  .indication .content .section .wrap .wraper {
    width: 275px;
    height: 275px;
  }
}
@media (max-width: 768px) {
  .indication .content .section .wrap .wraper h5 {
    font-size: 40px;
    line-height: 100%;
  }
}
@media (max-width: 570px) {
  .indication .content .section .wrap .wraper h5 {
    font-size: 35px;
    line-height: 100%;
  }
}
@media (max-width: 425px) {
  .indication .content .section .wrap .wraper h5 {
    font-size: 45px;
  }
}

.form-coop {
  width: 100%;
  height: auto;
  margin: 100px 0 50px 0;
  padding: 50px 0 50px 0;
  background-image: url(Kalin-Designer/image/contact-fon.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}
.form-coop .content {
  display: -ms-grid;
  display: grid;
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
  -ms-grid-columns: 1fr 20px 4fr;
  grid-template-columns: 1fr 4fr;
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 768px) {
  .form-coop .content {
    -ms-grid-columns: 570px;
    grid-template-columns: 570px;
    -ms-grid-rows: 50px 1fr;
    grid-template-rows: 50px 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 420px;
  }
  .form-coop .content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .form-coop .content > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media (max-width: 615px) {
  .form-coop .content {
    justify-items: center;
  }
}
@media (max-width: 480px) {
  .form-coop .content {
    max-width: 280px;
  }
}
.form-coop .content h4 {
  font-family: "rub-bold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.5;
  color: #FAFAFA;
  opacity: 1;
}
@media (max-width: 768px) {
  .form-coop .content h4 {
    font-size: 15px;
    line-height: 90%;
  }
}
@media (max-width: 768px) {
  .form-coop .content h4 {
    max-width: 420px;
  }
}
.form-coop .content .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 570px;
  height: 565px;
}
@media (max-width: 615px) {
  .form-coop .content .wraper {
    max-width: 425px;
    max-height: 500px;
  }
}
@media (max-width: 480px) {
  .form-coop .content .wraper {
    max-width: 300px;
    max-height: 425px;
  }
}
.form-coop .content .wraper h3 {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.05em;
  color: #222222;
  color: #fafafa;
}
@media (max-width: 768px) {
  .form-coop .content .wraper h3 {
    font-size: 49px;
  }
}
@media (max-width: 560px) {
  .form-coop .content .wraper h3 {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .form-coop .content .wraper h3 {
    font-size: 32px;
  }
}
.form-coop .content .wraper p {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #FAFAFA;
}
@media (max-width: 615px) {
  .form-coop .content .wraper p {
    font-size: 20px;
  }
}
.form-coop .content .wraper input {
  height: 50px;
  background-color: #fafafa;
  color: #222222;
  border-radius: 20px;
}
.form-coop .content .wraper input:nth-child(6) {
  height: 150px;
}
@media (max-width: 480px) {
  .form-coop .content .wraper input:nth-child(6) {
    height: 90px;
  }
}
@media (max-width: 480px) {
  .form-coop .content .wraper input {
    height: 30px;
  }
}
.form-coop .content .wraper button {
  background-color: #fafafa;
  color: #222222;
  height: 55px;
  border-radius: 20px;
}
@media (max-width: 480px) {
  .form-coop .content .wraper button {
    height: 40px;
  }
}

footer {
  width: 100%;
  margin: 0 auto;
}
footer .content {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 191px;
  padding: 50px 0 50px 0;
}
footer .content .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 570px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
}
@media (max-width: 480px) {
  footer .content .wraper .nav {
    display: none;
  }
}
footer .content .wraper p {
  font-family: "inter-medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}
footer .content .wraper a {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .content .wraper a:hover {
  color: #000000;
}
footer .content .wraper li {
  padding: 10px 0 10px 0;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}
@media (min-width: 769px) {
  .top-nav {
    display: none;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    top: 20px;
    margin-top: 50px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgb(0, 0, 0);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
  }
  .menu > li a {
    font-family: "inter-medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAFA;
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .menu > li a:hover {
    color: #b6b6b6;
  }
}
