@font-face {
    font-family: 'rub-regular';
    src: url(Ruberoid-Regular.ttf);
    }
@font-face {
    font-family: 'rub-medium';
    src: url(Ruberoid-Medium.ttf);
    }
@font-face {
    font-family: 'rub-bold';
    src: url(Ruberoid-ExtraBold.ttf);
    }