font-face {
    font-family: 'rub-regular';
    font-style: normal;
    font-weight: normal;
    src: local('rub-regular'), url('Ruberoid-Regular.ttf') format('ttf');
    }
font-face {
    font-family: 'rub-medium';
    font-style: normal;
    font-weight: normal;
    src: local('rub-medium'), url('Ruberoid-Medium.ttf') format('ttf');
    }
font-face {
    font-family: 'rub-bold';
    font-style: normal;
    font-weight: normal;
    src: local('rub-bold'), url('Ruberoid-ExtraBold.ttf') format('ttf');
    }